.website {
  display: flex;
  display:-webkit-flex;
  display:-ms-flexbox;
  width: 80%;
  height: 100%;
  background: #fff;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  height: 1000px;
  left: 10%;
 
}

.page {
  background:white no-repeat;
}

.aside {
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
}

.white-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background:rgb(255, 255, 255, 0.8) no-repeat;
}

.asideimg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.textaside {
  position: absolute;
  z-index: 2;
  left: 20%;
  color: black;
}

.asidetitle {
top: 5%;
font-family: 'Arial Narrow';
font-size: 4.62vw;
}

.texthr {
  width: 18%;
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  border-left: none;
  border-right: none;
  height: 6%;
  color: orange;
  position: absolute;
  top: 13.5%;
  z-index: 2;
  left: 20%;
}

.asideslogan {
  top: 17%;
  font-family: 'Arial Narrow';
  font-size: 1.1vw;
  letter-spacing: 1.3px;
}

.asidegallery {
  top: 25%;
  font-family: 'Arial Narrow';
  font-size: 1.08vw;
  color: #FF9900;
  letter-spacing: 2px;
}

.asidemenu {
  top: 30%;
  font-family: 'Arial Narrow';
  font-size: 1.08vw;
  letter-spacing: 2px;
  text-decoration:none;
  color: black;
}



.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 71%;
  position: relative;
  height: 100%;
}

.element {
  width: 100%;
  position: relative;

}

.gallery {
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.subelement {
  height: 32%;
  width: 49%;
  position: relative;
}

.black-overlay {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5) no-repeat;
  position: absolute;
  z-index: 1;
}

.photoimg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.photocorner {
  position: absolute;
  z-index: 2;
  right: 0%;
  top: 75%;
  width: 20%;
  height: 25%;
}

.photodate {
  position: absolute;
  z-index: 2;
  top: 14%;
  left: 5%;
  color:orange;
  font-family: Arial;
  font-size: 1vw;
  letter-spacing: 2px;

}

.phototext {
  position: absolute;
  z-index: 2;
  top: 21%;
  left: 5%;
  color: white;
  font-family: Arial;
  font-size: 1.8vw;
}


.pagination {
  flex-grow: 0.0000001;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.elementpagination {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  font-family: Arial;
  font-size: 1vw;

}

.footer {
  background: #202020 no-repeat;
  position: relative;
  flex-grow: 1.1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elementfooter {
height: 37%;
width: 32%;
}

.footertext {
  color: #5F5F5F;
  text-align: center;
  font-family: Arial;
  font-size: 0.89vw;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.footericon {
width: 15%;
}

.elementfooter i {
  color: rgb(127.5, 127.5, 127.5, 0.5)
}