.page {
display: flex;
flex-direction: row;
height: 100%;
width: 100%;
position: relative;
}

.container {

height: 32%;
width: 48%;
position: relative;
}

.article {

height: 100%;
width: 100%;
position: relative;
}

.black-overlay {
    width: 100%;
    height: 90%;
    background: rgb(0, 0, 0, 0.5) no-repeat;
    position: absolute;
    z-index: 1;
}

.photoimg {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.photocorner {
    position: absolute;
    z-index: 2;
    right: 0%;
    top: 80%;
    width: 20%;
    height: 20%;
}

.photodate {
    position: absolute;
    z-index: 2;
    top: 16%;
    left: 5%;
    color: white;
}

.phototext {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 5%;
    color:orange;
}
